.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: fixed;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #1abc9c;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
    color: #fff;
}

.btn-compose {
    background-color: #1abc9c;
    position: fixed;
    bottom: 50px;
    right: 115px;
    z-index: 9999; /* Set a high z-index value to keep the button above other elements */
    margin-bottom: 50px;
    border: #fff;
    border-radius: 20px;
  }

.btn-compose:hover {
    background-color: #138a72;
}  

.publish-btn {
    margin-top: 20px;
    background-color: #1abc9c;
    border: #fff;
    border-radius: 20px;
}

.publish-btn:hover {
    background-color: #138a72;
}

.compose {
    margin-top: 10px;
    margin-bottom: 30px;
    color: #1abc9c;
}

.contact-info {
    margin-bottom: 30px;
  }

  .contact-info h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .contact-info p {
    margin-bottom: 5px;
  }